<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniTrade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A9C1F3A1BF5497F00666FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A9C1F4E1BF5497F00666FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A9C1F591BF5498000666FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
